{% extends 'layout.html.twig' %}
{% block body %}    
    <fieldset>
        <legend>{{marque.name}}</legend>
    </fieldset>
    <div class="row">
        <div class='col-lg-12'>
            <div class="btn_add pull-right">
                <ul class='show_action_buttons'>
                    <li><a href="{{ path('marque_index') }}"  class="btn btn-info">Liste des marques <span class="glyphicon glyphicon-th-list"></span></a></li>
                    <li><a href="{{ path('marque_edit', { 'id': marque.id }) }}"  class="btn btn-warning">Modifier  <span class="glyphicon glyphicon-edit"></a></li>
                    <li>
                        {{ form_start(delete_form) }}

                        <button class='btn btn-danger delete_form_button' data-msg="Voulez vous vraiement supprimer cette marque?" type="button">Supprimer <span class="glyphicon glyphicon-trash"></span></button>
                            {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if marque.publie %}
                <span class="label label-success">Oui</span>
            {% else %}
                <span class="label label-danger">Non</span>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <!--Mettre ici l'image de la marque-->
        </div>
    </div>
{% endblock %}
